body{
  /*max-width: 250px;
  width: 100%;*/
}

.context{
    margin: 22px;
    padding: 20px;
    border: solid black 2px;
    border-radius: 5%;
    
}
.context:hover{
    background-color: aqua;
}
#info_2{
    font-size: 40px;
    text-align: center;
    font-family: Montserrat;
}
.semester-numbers-description-link{
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 600;
  color: black;
}
.semester-numbers-description{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid black 2px;
  max-width: 120px;
  width: 100%;

}
.semester-numbers-description:hover{
  background-color:rgba(255, 0, 0, 0.512);
}
.link-reference{
  text-decoration: none;
  color: black;
}
.path-definer-link{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.path-definer-link:hover{
  text-decoration: underline solid black 1.5px;

}
.path-directional-arrow{
  font-size: 20px;
  font-weight: bold;
}

/*Button_Design*/
.course-content{
  font-family: 'Minecraft', sans-serif;
  background-color: #C29B6B;
  color: #fff;
  padding: 12px 25px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #8B5A2B;
  cursor: pointer;
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  transition: all 0.1s ease;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.course-content:hover{
  background-color: #9F7E4A;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.course-content:active{
  background-color: #8C6D41;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}







.blinking-cursor {
    font-weight: 330;
    font-size: 40px;
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
@keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
